


.react-datepicker-wrapper, .react-datepicker__input-container {
    display: block !important;
}
body{
    /*background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
    background-image: url("../images/bg.jpg");
    /*background-position: center; !* Center the image *!*/
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}
.bg-white {
    background : white;
}
.nav-link .navbar-nav{
    /*margin-right: 10px;*/
    font-size: 18px;
    color: rgba(255,255,255,1);
}

